In [1]:
import mysql.connector
import pandas as pd

In [3]:
mydb = mysql.connector.connect(
  host="localhost",
  port=3306,
  user="root",
  password="user_password",
auth_plugin='mysql_native_password'
)
mycursor=mydb.cursor()


mycursor.execute('CREATE DATABASE IF NOT EXISTS phone_pe')
mycursor.execute("use phone_pe")
mycursor.execute('''CREATE TABLE IF NOT EXISTS aggregated_transaction(
                           States_OR_Union_Territory varchar(255),
                           Transaction_Year int(255),
                           Quarters int(255),
                           Transaction_Type varchar(255),
                           Transaction_Count BIGINT,
                           Transaction_Amount Double)
                 ''')
mycursor.execute('''CREATE TABLE IF NOT EXISTS aggregated_users(
                           States_OR_Union_Territory  varchar(255),
                           Transaction_Year int(255),
                           Quarters int(255),
                           RegisteredUsers BIGINT,
                           AppOpens BIGINT,
                           Brand_Name varchar(255),
                           Brand_Registered_Users BIGINT,
                           Percentage_Share_of_Brand Double)
                 ''')
mycursor.execute('''CREATE TABLE IF NOT EXISTS map_transaction(
                         States_OR_Union_Territory varchar(255),
                         Transaction_Year int(255),
                         Quarters int(255),
                         District varchar(255),
                         Transaction_Type varchar(255),
                         Transaction_Count BIGINT)
                   ''')
mycursor.execute('''CREATE TABLE IF NOT EXISTS map_users(
                        States_OR_Union_Territory  varchar(255),
                        Transaction_Year int(255),
                        Quarter int(255),
                        District varchar(255),
                        RegisteredUsers BIGINT,
                        AppOpens BIGINT)
                ''')
mycursor.execute('''CREATE TABLE IF NOT EXISTS top_transaction(
                           States_OR_Union_Territory  varchar(255),
                           Transaction_Year int(255),
                           Quarters int(255),
                           District varchar(255),
                           Transaction_Type varchar(255),
                           Transaction_Count BIGINT,
                           Transaction_Amount Double)
                     ''')
mycursor.execute('''CREATE TABLE IF NOT EXISTS top_users(
                           States_OR_Union_Territory varchar(255),
                           Transaction_Year int(255),
                           Quarters int(255),
                           District varchar(255),
                           RegisteredUsers BIGINT)
                     ''')

In [4]:
#Converting to dataframe to insert into mysql easily

In [5]:
data1=pd.read_csv(r'C:\Users\Priyanka\Downloads\agg_trans.csv')
df1=pd.DataFrame(data1)
data2=pd.read_csv(r"C:\Users\Priyanka\Downloads\agg_users.csv")
df2=pd.DataFrame(data2)
data3=pd.read_csv(r"C:\Users\Priyanka\Downloads\map_trans.csv")
df3=pd.DataFrame(data3)
data4=pd.read_csv(r"C:\Users\Priyanka\Downloads\map_users.csv")
df4=pd.DataFrame(data4)
data5=pd.read_csv(r"C:\Users\Priyanka\Downloads\top_trans.csv")
df5=pd.DataFrame(data5)
data6=pd.read_csv(r"C:\Users\Priyanka\Downloads\top_users.csv")
df6=pd.DataFrame(data6)

In [6]:
df1.to_csv("agg_trans.csv",index=False)
for i,row in df1.iterrows():
    #here %S means string values 
    sql = "INSERT INTO aggregated_transaction VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    # the connection is not auto committed by default, so we must commit to save our changes
    mydb.commit()
    
df2.to_csv("agg_users.csv",index=False)
for i,row in df2.iterrows():
    #here %S means string values 
    sql = "INSERT INTO aggregated_users VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    # the connection is not auto committed by default, so we must commit to save our changes
    mydb.commit()
    
df3.to_csv("map_trans.csv",index=False)
for i,row in df3.iterrows():
    #here %S means string values 
    sql = "INSERT INTO map_transaction VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    # the connection is not auto committed by default, so we must commit to save our changes
    mydb.commit()
    
df4.to_csv("map_users.csv",index=False)
for i,row in df4.iterrows():
    #here %S means string values 
    sql = "INSERT INTO map_users VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    # the connection is not auto committed by default, so we must commit to save our changes
    mydb.commit()
    
df5.to_csv("top_trans.csv",index=False)
for i,row in df5.iterrows():
    #here %S means string values 
    sql = "INSERT INTO top_transaction VALUES (%s,%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    # the connection is not auto committed by default, so we must commit to save our changes
    mydb.commit()
    
df6.to_csv("top_users.csv",index=False)
for i,row in df6.iterrows():
    #here %S means string values 
    sql = "INSERT INTO top_users VALUES (%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    # the connection is not auto committed by default, so we must commit to save our changes
    mydb.commit()